<!doctype html>
<html lang="en" ng-app="app">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>

    <meta charset="UTF-8">
	<title>Bitcoins Era</title>
    <!-- <base href="/bitcoinera/"> -->
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="app/build/css/build.min.css">
    <link rel="stylesheet" href="app/vendor/intl-tel-input/build/intlTelInput.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>

    <link href="js/videojs/video-js.css" rel="stylesheet">
	<link rel="stylesheet" href="css/index.css?v=1592989486">
	
	<link rel="stylesheet" href="app/intlTelInput.min.css">
	<link rel="stylesheet" href="app/cks/jquery.cookieBar.min.css">


	<script type="text/javascript" src="js/jquery-1.11.3.js?v=1586423887"></script>
	<script type="text/javascript" src="js/popper.min.js?v=1586423887"></script>
	<script type="text/javascript" src="js/bootstrap.min.js?v=1586423887"></script>
	<script type="text/javascript" src="js/videojs/video.js?v=1586423887"></script>
	<!-- <script type="text/javascript" src="js/app/angular.js?v=1586423887"></script> -->
	<!-- <script type="text/javascript" src="js/app/angular-messages.js?v=1586423887"></script> -->
	<!-- <script type="text/javascript" src="js/app/app.js?v=1586423887"></script> -->
	<!-- <script type="text/javascript" src="js/app/SubscribeController.js?v=1586423887"></script> -->

	<!-- BEGIN intgrtn -->
	<!-- <script>
		window.intgrtnInit = function () {
			var path = "/";
			if (window.location.pathname.split("/")[1]) {
				path = "/" + window.location.pathname.split("/")[1] + "/";
			}
			window.intgrtn.setOptions({
				server: {
					endpoint: "/intgrtn",
					ignoreProjectEndpoint: true
				},
				cookies: {
					path: path
				},
				forms: {
					signup: {
						fields: {
							passwordConfirm: {
								show: false,
								required: false,
							},
						}
					},
				},
			});
			window.intgrtn.getProjectDetails(function (response) {
				if (response.data.project.details.showGDPR == 1) {
					$('.disclaimer-wrapper').removeClass('hidden');
				}
				if (response.data.project.details.showFooterSpamDisclaimer == 1) {
					$('.spam-disclaimer').removeClass('hidden');
				}
			})
		};
		(function (d) {
			if (window.intgrtn) {
				return;
			}
			var s = d.createElement("script");
			var date = new Date();
			s.src = "intgrtn/api/v1/integration/sdk.js?v=1" + date.getFullYear().toString() + date.getMonth().toString() + date.getDate().toString() + date.getHours().toString() +  Math.round(date.getMinutes()/10).toString();
			d.getElementsByTagName("head")[0].appendChild(s);
		}(document));
	</script> -->
	<!-- END intgrtn -->
	<link rel="stylesheet" href="css/intgrtn.css?v=1586423887">
</head>
<body ng-controller="SubscribeController as sc"><section class="intro-section-1">
	<div class="container">
		<p class="intro-p"><b data-i18n>WARNING</b>:<span data-i18n>Due to extremely high media demand, we will close registration as of</span> <b><span class="tomorrow-date">05/07/2018</span> - <span data-i18n>HURRY!</span> </b><span class="countdown-span">05:32</span></p>
	</div>
</section>


<section class="intro-section-2">
	<div class="container">
		<div class="intro-part-2 row">
			<img src="img/logo.png" alt="logo" class="logo">
			<div class="exclusive-offers-wrapper intro-margin-div none">
				<div style="margin-right: 10px;"><span class="purple" data-i18n>Exclusive offers for</span> <br> <span class="red" data-i18n>trades in</span> <span class="country-name-custom red"></span></div>
				<div class="countryflag">

				</div>
			</div>
			<div class="dynamic-person-div none" id="notifications">
				<div class="dynamic-person-img-wrapper">
					<img data-image src="img/25.jpg" alt="" class="dynamic-person-img">
				</div>
				<p class="dynamic-person-p">
					<span data-name class="dynamic-person-name-span">
						Nikole C.
					</span>
					<br>
					<span data-i18n>just made</span>
					<br>
					<span data-visitor-currency-symbol class="dollar-shake">$</span>
					<span data-amount class="dynamic-person-sum-span">
						350
					</span>
				</p>
			</div>
		</div>
	</div>
</section>


<section class="video-form-section" id="homes">
	<div class="container">
		<h1 class="video-header" data-i18n>Bitcoin Is Making People Rich</h1>
		<p class="video-subheader"><span data-i18n>And you can Become The</span> <span class="yellow" data-i18n>Next Millionaire...</span></p>
		<div class="row" style="margin-bottom: -157px;">
			<div class="col-md-8">
				<div class="video-wrapper">
					<video class="video-js vjs-default-skin vjs-big-play-centered video" id="video" data-setup='{"controls": true, "autoplay": "any", "preload": "metadata", "fluid": true, "poster": "img/videothumbnail.jpg"}'>
						<source src="img/en-1.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-container">
					<h1 class="formHeader" data-i18n>CHANGE YOUR LIFE TODAY!</h1>
					<div class="formwrap-outer">
						<div class="intgrtn-form-signup formwrap">
							<!-- Circles which indicates the steps of the form: -->
							<div style="display: flex; text-align:center;margin-bottom:20px;">
								<span class="step active"></span>
								<span class="step"></span>
								<span class="step"></span>
							  </div>
							<form id="regForm" action="/action_page.php">
								<!-- One "tab" for each step in the form: -->
								<div class="tab">
								  <input class="txtf" placeholder="First name" name="fname" id="name1" >
								  <input class="txtf" placeholder="Last name." name="lname" id="lastname1" >
								  <input placeholder="E-mail"  name="email" id="email">
								  <span class="err">Enter valid mail</span>

								</div>
								
								<div class="tab">
								  <input type="password" name="" id="newpass" placeholder="Password">
								  <input type="password" name="" id="comfirmpass" placeholder="Confirm password">
								  <span class="err">password mismatch</span>
								</div>

								<div class="tab field">
									<input type="tel" class="telephone"  placeholder="" id="telephone">
									<span class="err">number must contain no less than 11 characters</span>
								  </div>
								
								<div style="overflow:auto;">
								  <div>
									<!-- <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> -->
									<button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
								  </div>
								</div>
								
							  </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	
	
	#regForm {
		width: 100%;
	}
	
	h1 {
	  text-align: center;  
	}
	
	input {
		padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}

	input.error{
		border: 1px solid red;
	}

	.iti.error{
		border: 1px solid red;
	}
	
	/* Mark input boxes that gets an error on validation: */
	input.invalid {
	  background-color: #ffdddd;
	}

	span.err{
		display: none;
		font-size: 16px;
		color: red;
		text-align: right;
		margin-top: -5px;
		margin-bottom: 10px;
	}
	span.err.active{
		display: block;

	}
	input.error + span.err{
		display: block;
	}
	
	/* Hide all steps by default: */
	.tab {
	  display: none;
	}
	
	/* form button {
	  background-color: #4CAF50;
	  color: #ffffff;
	  border: none;
	  padding: 10px 20px;
	  font-size: 17px;
	  font-family: Raleway;
	  cursor: pointer;
	} */
	
	form button:hover {
	  opacity: 0.8;
	}
	
	#prevBtn {
	  background-color: #bbbbbb;
	}

	#nextBtn{
		margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
    text-transform: uppercase;
	border: none;
    width: 90%;
    height: 64px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
	}

	#regFormm button{
		margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(166deg, #156cff 1%, #0e49ff);
    text-transform: uppercase;
	border: none;
    width: 90%;
    height: 64px;
    cursor: pointer;
    white-space: normal;
    text-align: center;
	}
	
	/* Make circles that indicate the steps of the form: */
	.step {
		display: inline-block;
    background-color: #fff28a;
    color: white;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bold;
    height: 7px;
    width: 33%;
    margin-right: 2px;
    border-radius: 0;
    text-indent: 100%;
    overflow: hidden;
	}
	
	.step.active {
		background-color: #fd57a5;
	}
	
	/* Mark the steps that are finished and valid: */
	.step.finish {
	  background-color: #4CAF50;
	}


	.form {width: 300px; margin: 20px auto;}
		.field input {font-size: 14px; padding: 2px; border: 0; outline: none; margin-bottom: 0; width: auto;}
		
		.field label {padding: 2px 0; display: block; color: #666;}
	</style>

<section class="intro-section-mobile">
	<div class="container">
		<div class="intro-part-2">
			<div class="exclusive-offers-wrapper intro-margin-div">
				<div class="exclusive-offers-text" style="margin-right: 10px;"><span class="purple" data-i18n>Exclusive offers for</span> <br> <span class="red" data-i18n>trades in</span> <span class="country-name-span red"></span></div>
				<img src="#" class="flag" alt="">
			</div>
			<div class="dynamic-person-div">
				<div class="dynamic-person-img-wrapper">
					<img src="img/25.jpg" alt="" class="dynamic-person-img">
				</div>
				<p class="dynamic-person-p">
					<span class="dynamic-person-name-span">
					Nikole C.
					</span>
					<br>
					<span data-i18n>just made</span>
					<br>
					<span class="dynamic-person-sum-span">
						350
					</span>
					<span data-init="visitor-currency-symbol" class="dollar-shake">$</span>
				</p>
			</div>
		</div>
	</div>
</section>


<section class="logos-section">
	<div class="container">
		<div class="logos-wrapper">
			<img src="img/bitgo.png" class="logo" alt="bitgo logo">
			<img src="img/norton.png" class="logo" alt="norton logo">
			<img src="img/secure-trading.png" class="logo" alt="secure trading logo">
			<img src="img/mcafee.png" class="logo" alt="mcafee logo">
			<div class="bid-wrapper">
				<span class="orange" data-i18n>BID</span>
				<span class="green bid-ask-span"><span data-init="visitor-currency-symbol">$</span><span data-init="bid-price">00.00</span></span>
			</div>
			<div class="ask-wrapper">
				<span class="gray" data-i18n>ASK</span>
				<span class="gray bid-ask-span"><span data-init="visitor-currency-symbol">$</span><span data-init="ask-price">00.00</span></span>
			</div>
		</div>
	</div>
</section>


<section class="join-us-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1 class="join-us-header">
					<span data-i18n>Join Us and Start Getting Rich</span>
					<span style="color: #5f3394" data-i18n>with Bitcoins Era!</span>
				</h1>
				<br>
				<p class="join-us-p">
					<span data-i18n>The Bitcoins Era is a group reserved exclusively to people who jumped on the insane returns that Bitcoin offers and have quietly amassed a fortune in doing so. Our members enjoy retreats around the world every month while they make money on their laptop with just a few minutes of “work” every day.</span>
				</p>
			</div>
		</div>
	</div>
</section>


<section class="fake-news-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<p class="seenon-p" data-i18n>As seen on</p>
				<p class="fake-news-logos-wrapper">
					<img src="img/seenon.png" alt="media logos">
				</p>
			</div>
			<div class="col-md-7">
				<div class="join-us-img-wrapper">
					<img src="img/girl-holding-bitcoin.png" alt="join us" class="join-us-img">
				</div>
			</div>
		</div>
	</div>
</section>


<section class="testimonials-section">
	<div class="container-fluid">
		<h1 class="testimonials-header purple" data-i18n>REAL TESTEMONIALS FROM OUR USERS</h1>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-lg-3 no-padding">
				<div class="testimonial-wrapper testimonial-wrapper-1">
					<div class="testimonial-intro-text white">
						<span data-i18n>Mark K.</span> <br>
						<span data-i18n>Fort Worth, TX</span> <br>
						<span class="yellow testimonial-profit-span"><span data-i18n>Profit</span>: <span data-init="visitor-currency-symbol">$</span>123.00</span>
					</div>
					<div class="testimonial-hover-text">
						<i>"<span data-i18n>I finally know what it’s like to live the dream. I no longer feel like I’m on the outside looking in while everyone else has all the fun. Bitcoins Era has allowed me to retire early and live the 1% lifestyle.</span>"</i>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-lg-3 no-padding">
				<div class="testimonial-wrapper testimonial-wrapper-2">
					<div class="testimonial-intro-text white">
						<span data-i18n>Jennifer A.</span> <br>
						<span data-i18n>Irvine, CA</span> <br>
						<span class="yellow testimonial-profit-span"><span data-i18n>Profit</span>: <span data-init="visitor-currency-symbol">$</span>72.00</span>
					</div>
					<div class="testimonial-hover-text">
						<i>"<span data-i18n>I've been a member of Bitcoins Era for only 47 days. But my life has already changed! Not only have I made my first</span> <span data-init="visitor-currency-symbol">$</span>100<span data-i18n>, but I've also met some of the most incredible people in the process. Thanks, Bitcoins Era!</span>"</i>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-lg-3 no-padding">
				<div class="testimonial-wrapper testimonial-wrapper-3">
					<div class="testimonial-intro-text white">
						<span data-i18n>Ernest I.</span> <br>
						<span data-i18n>Orem, UT</span> <br>
						<span class="yellow testimonial-profit-span"><span data-i18n>Profit</span>: <span data-init="visitor-currency-symbol">$</span>109.00</span>
					</div>
					<div class="testimonial-hover-text">
						<i>"<span data-i18n>Surprisingly, I used to be an investor on Wall Street. And I’ve never seen anything like this in my 10 year tenure at the company. My colleagues all thought I was crazy when I quit the firm to invest with the Bitcoins Era software full-time.</span>
							<span data-init="visitor-currency-symbol">$</span>389,00 <span data-i18n>in profits later, all of my colleagues are now BEGGING me to let them in.</span>"</i>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-lg-3 no-padding">
				<div class="testimonial-wrapper testimonial-wrapper-4">
					<div class="testimonial-intro-text white">
						<span data-i18n>Jane K.</span><br>
						<span data-i18n>Fort Worth, TX</span> <br>
						<span class="yellow testimonial-profit-span"><span data-i18n>Profit</span>: <span data-init="visitor-currency-symbol">$</span>89.00</span>
					</div>
					<div class="testimonial-hover-text">
						<i>"<span data-i18n>Two weeks ago, I got laid off. With no options left, I thought my life was over. Now I’m making over</span> <span data-init="visitor-currency-symbol">$</span>11.00 <span data-i18n>each and every day. And for the first time in 2 months, my account isn’t overdrawn. Thanks, Bitcoins Era!</span>"</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="features-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 feature-wrapper-col">
				<div class="feature-wrapper">
					<div class="feature-img-wrapper">
						<img src="img/feature-img-1.png" class="feature-img" alt="feature 1">
					</div>
					<h5 class="feature-header" data-i18n>LASER-ACCURATE PERFORMANCE</h5>
					<p class="feature-description" data-i18n>There is no other trading app in the world that performs at the 99.4% level of accuaracy that The Bitcoins Era is able to hit. That's why our members from around the world trust us to double triple and quadruple their hard-earned money.</p>
				</div>
			</div>
			<div class="col-lg-4 feature-wrapper-col">
				<div class="feature-wrapper">
					<div class="feature-img-wrapper">
						<img src="img/feature-img-2.png" class="feature-img" alt="feature 1">
					</div>
					<h5 class="feature-header" data-i18n>SUPERIOR TECHNOLOGY</h5>
					<p class="feature-description" data-i18n>The Bitcoins Era software has been created using the most advanced programming the trading world has ever seen. The software is ahead of the markets by 0.01 seconds. This 'time leap' makes the software the most consistent trading app on the planet.</p>
				</div>
			</div>
			<div class="col-lg-4 feature-wrapper-col">
				<div class="feature-wrapper">
					<div class="feature-img-wrapper">
						<img src="img/feature-img-3.png" class="feature-img" alt="feature 1">
					</div>
					<h5 class="feature-header" data-i18n>AWARD-WINNING TRADING APP</h5>
					<p class="feature-description" data-i18n>The Bitcoins Era app has won a number of awards. The most recent awards we have had the honor of receiving is getting #1 in the trading software category for the US Trading Association.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="live-results-section text-center">
	<div class="container relative">
		<div class="live-results-table-wrapper">
			<a href="#homes" class="yellow-btn join-now-btn scroll-top-btn">
				<span data-i18n>JOIN NOW!</span>
			</a>
			<h1 class="dark-purple bold live-results-header" data-i18n>LIVE PROFIT RESULTS</h1>
			<table class="live-results-table">
				<thead class="thead">
				<tr>
					<th class="dark-purple padding-left-td" data-i18n>The Bitcoins Era</th>
					<th class="dark-purple padding-left-td" data-i18n>Profit</th>
					<th class="dark-purple padding-left-td" data-i18n>Trade Time</th>
					<th class="dark-purple padding-left-td" data-i18n>Cryptocurrency</th>
					<th class="dark-purple padding-left-td" data-i18n>Result</th>
				</tr>
				</thead>
				<tbody class="tbody">
				<tr>
					<td class="bold">Jessica T.</td>
					<td class="bold">$986</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>LTC/EOS</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Joseph M.</td>
					<td class="bold">$723</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>ETH/LTC</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Harry C.</td>
					<td class="bold">$1032</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>BTC/ETH</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Evan M.</td>
					<td class="bold">$839</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>EOS/ETH</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Lily C.</td>
					<td class="bold">$1201</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>LTC/EOS</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Lewis R.</td>
					<td class="bold">$972</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>BTC/ETH</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">George B.</td>
					<td class="bold">$687</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>ETH/LTC</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Natasha R.</td>
					<td class="bold">$1129</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>EOS/ETH</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold">Matthew C.</td>
					<td class="bold">$919</td>
					<td class="trade-time-td padding-left-td">06/07/2018</td>
					<td>LTC/EOS</td>
					<td><img src="img/tick.png" alt="tick"></td>
				</tr>
				<tr>
					<td class="bold last-td">Jamie P.</td>
					<td class="bold last-td">$1164</td>
					<td class="last-td trade-time-td padding-left-td">06/07/2018</td>
					<td class="last-td">BTC/ETH</td>
					<td class="last-td"><img src="img/tick.png" alt="tick"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>


<section class="how-it-works-section text-center">
	<div class="container">
		<div class="how-it-works-wrapper">
			<h1 class="dark-purple bold how-it-works-header" data-i18n>HOW IT WORKS</h1>
			<div class="row">
				<div class="col-md-4 no-padding step-wrapper-col">
					<div class="step-wrapper step-wrapper-1">
						<h3 class="step-header white step-header-1" data-i18n>Step 1</h3>
						<div class="step-img-wrapper">
							<img src="img/step-img-1.png" alt="step 1" class="step-img">
						</div>
						<h5 class="step-subheader bold dark-purple" data-i18n>REGISTER ON THE SITE</h5>
						<p class="step-description" data-i18n>Once your registration is accepted, you will automatically become the newest member of the Bitcoins Era. And you will get to claim our proprietary bitcoin trading software for free.</p>
					</div>
				</div>
				<div class="col-md-4 no-padding step-wrapper-col">
					<div class="step-wrapper step-wrapper-2">
						<h3 class="step-header white step-header-2" data-i18n>Step 2</h3>
						<div class="step-img-wrapper">
							<img src="img/step-img-2.png" alt="step 2" class="step-img">
						</div>
						<h5 class="step-subheader bold dark-purple" data-i18n>FUND YOUR ACCOUNT</h5>
						<p class="step-description"><span data-i18n>Like any business, you need working capital to get started. So to start profiting with The Bitcoins Era, you must invest any amount you desire of</span> <span data-init="visitor-currency-symbol">$</span>250 <span data-i18n>or more.</span>
						</p>
					</div>
				</div>
				<div class="col-md-4 no-padding step-wrapper-col">
					<div class="step-wrapper last-step-wrapper step-wrapper-3">
						<h3 class="step-header white step-header-3" data-i18n>Step 3</h3>
						<div class="step-img-wrapper">
							<img src="img/step-img-3.png" alt="step 3" class="step-img">
						</div>
						<h5 class="step-subheader bold dark-purple" data-i18n>FINISH</h5>
						<p class="step-description" data-i18n>Click trade to enjoy precise and accurate hands-free trading powered by our award-winning algorithm. You can also set the trading to manual if you prefer to trade on your own.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="how-it-works-btn-wrapper">
		<a href="#homes" class="yellow-btn open-free-account-btn scroll-top-btn">
			<span data-i18n>OPEN FREE ACCOUNT</span>
		</a>
	</div>
</section>


<section class="faq-section">
	<div class="container">
		<h2 class="faq-section-header text-center dark-purple bold" data-i18n>FREQUENTLY ASKED QUESTIONS</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-11">
						<div class="faq-wrapper faq-wrapper-1">
							<h4 class="faq-question light-purple bold" data-i18n>What kind of results can I expect?</h4>
							<p class="faq-answer"><span data-i18n>Bitcoins Era members typically profit a minimum of</span> <span data-init="visitor-currency-symbol">$</span>1300 <span data-i18n>daily.</span></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<div class="faq-wrapper faq-wrapper-2">
							<h4 class="faq-question light-purple bold" data-i18n>How many hours per day do I need to work?</h4>
							<p class="faq-answer" data-i18n>Our members work an average of 20 minutes a day or less. Because the software handles the trading the amount of 'work' required is minimal.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<div class="faq-wrapper faq-wrapper-3">
							<h4 class="faq-question light-purple bold" data-i18n>What is the maximum amount that I can make?</h4>
							<p class="faq-answer" data-i18n>Your profits are unlimited within The Bitcoins Era. Some members earned their first million within just 61 days.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-11">
						<div class="faq-wrapper faq-wrapper-4">
							<h4 class="faq-question light-purple bold" data-i18n>How much does the software cost?</h4>
							<p class="faq-answer" data-i18n>Members of The Bitcoins Era get a copy of our proprietart software free of charge. To become a member, simply fill out the form on this page.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<div class="faq-wrapper faq-wrapper-5">
							<h4 class="faq-question light-purple bold" data-i18n>Is this like MLM or Affiliate Marketing?</h4>
							<p class="faq-answer" data-i18n>This is not like MLM, affiliate marketing or anything else out there. The software wins trades with 99.4% accuaracy.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<div class="faq-wrapper faq-wrapper-6">
							<h4 class="faq-question light-purple bold" data-i18n>Are there any fees?</h4>
							<p class="faq-answer" data-i18n>There are no hidden fees. No broker fees or commissions. All of your money is 100% yours and you are free to withdraw it at any time you choose without delay.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="pre-footer-section">
	<div class="container">
		<a href="#homes" class="pre-footer-btn scroll-top-btn">
			<span data-i18n>GET STARTED NOW</span>
		</a>
	</div>
</section>

<div class="modal modal-signup text-center registration-popup new-popup" tabindex="-1" role="dialog">
	<header>
		<h1 data-i18n>Congratulations!</h1>
		<p class="title-description" data-i18n>You got lucky and we managed to register you at the BEST broker available!</p>
	</header>
	<main>
		<div class="row">
			<div class="col-lg-6 broker-info">
				<div class="modal-logo">
					<img ng-src="{{sc.brokersImageUrl}}" alt="{{sc.brokersName}}">
				</div>
			</div>
			<div class="btn_start modal-button-show-mobile col-sm-12">
				<button type="button" class="start-trading-button" ng-show="!sc.showLoading" ng-click="sc.goToBroker()" data-i18n>CLICK HERE TO START TRADING</button>
				<img src="img/Ellipsis-2s-151px.svg" class="progress" ng-show="sc.showLoading"/>
			</div>
			<div class="col-lg-6 broker-advantages">
				<div class="item row">
					<div class="icon col-sm-2"><img src="img/star-icon.png"></div>
					<div class="text col-sm-10">
						<h4 data-i18n>Your SAFETY is our priority</h4>
						<p><span data-i18n>As determined by its regulatory status,</span> <span ng-if="sc.brokersName">{{sc.brokersName}}</span> <span data-i18n>takes strict measures to safeguard client's funds and their privacy</span></p>
					</div>
				</div>
				<div class="item row">
					<div class="icon col-sm-2"><img src="img/money-icon.png"></div>
					<div class="text col-sm-10">
						<h4><span data-i18n>High Payout Options</span></h4>
						<p><span ng-if="!sc.brokersName">This broker, </span><span ng-if="sc.brokersName">{{sc.brokersName}}, </span><span data-i18n>offers up to 88% return per successful trade</span>!</p>
					</div>
				</div>
				<div class="item row">
					<div class="icon col-sm-2"><img src="img/bitcoinicon.png?v=12"></div>
					<div class="text col-sm-10"><h4 data-i18n>New!</h4>
						<p data-i18n>Crypto Currency guidance for beginners and advanced traders!</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="btn_start modal-button-hide-mobile">
		<button type="button" class="start-trading-button" ng-show="!sc.showLoading" ng-click="sc.goToBroker()" data-i18n>CLICK HERE TO START TRADING</button>
		<img src="img/Ellipsis-2s-151px.svg" class="progress" ng-show="sc.showLoading"/>
	</div>
</div>

<script>
	$(function () {
		var interval = setInterval(function () {
			$.ajax("https://poloniex.com/public?command=returnTicker")
				.success(function (r) {
					$('[data-init="bid-price"]').text((r["USDT_BTC"]["highestBid"] / 100).toFixed(2));
					$('[data-init="ask-price"]').text((r["USDT_BTC"]["lowestAsk"] / 100).toFixed(2));
				})
				.error(function () {
					clearInterval(interval);
					$('[data-init="ask-price"], [data-init="bid-price"]').parents(".ask-wrapper, .bid-wrapper").hide();
				});
		}, 2000);
	});
</script>
<footer class="footer text-center">
	<div class="container">
		<ul class="footer-ul">
			<li><a href="#homes" class="scroll-top-btn" data-i18n>Home</a></li>
			<!-- <li><a data-intgrtn-link-agreements="1" href="" class="" data-i18n>Website Agreement</a></li> -->
			<!-- <li><a data-intgrtn-link-agreements="2" href="" class="" data-i18n>Risk Disclaimer</a></li> -->
			<li><a href="policy.html" class="" >Privacy Policy</a></li>
			<!-- <li class="spam-disclaimer hidden"><a data-intgrtn-link-agreements="7" href="" class="" data-i18n>Spam Disclaimer</a></li> -->
			<!-- <li><a data-intgrtn-link-report-abuse="" href="" class="" data-i18n>Report Abuse</a></li> -->
			<!-- <li><a data-intgrtn-link-contact-us="" href="" class="" data-i18n>Contact Us</a></li> -->
		</ul>

        <div data-intgrtn-agreements="" data-intgrtn-type="4" class="container"></div>
		<img src="img/logo.png" class="footer-logo" alt="logo">
	</div>
</footer>





<div class="exitblock">
    <div class="fon"></div>    
    <div class="modaltext">    
		<h3>Get access
		</h3>

		<form id="regFormm" action="/action_page.php">
			<!-- One "tab" for each step in the form: -->
			<div class="tabb">
			  <input class="txtf" placeholder="First name" name="fname" id="namee" >
			  <input class="txtf" placeholder="Last name." name="lname" id="lastnamee" >
			  <input placeholder="E-mail"  name="email" id="email">
			  <span class="err">Enter valid mail</span>

			</div>
			
			<div class="tabb">
			  <input type="password" placeholder="Password" name="" id="newpasss">
			  <input type="password" placeholder="Confirm password" name="" id="comfirmpasss">
			  <span class="err">password mismatch</span>
			</div>

			<div class="tabb field">
				<input type="tel" class="telephone"  placeholder="" id="telephonee">
				<span class="err">number must contain no less than 11 characters</span>
			  </div>
			
			<div style="overflow:auto;">
			  <div>
				<!-- <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> -->
				<button type="button" >SUBMIT</button>
			  </div>
			</div>
			
		  </form>
    </div>
    <div class="closeblock">+</div>
</div>

<style>
		#regFormm {
		width: 100%;
	}
	.exitblock {    
opacity: 0;
visibility: hidden;
transition: all .3s ease;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100000;
}    
.exitblock.active {
	opacity: 1;
visibility: visible;
}   
.exitblock .fon {
    background: #000000;
    opacity:.8;
    position:fixed;
    width:100%;
    height:100%;
}
.exitblock .modaltext {
    box-sizing: border-box;  
    padding:20px 40px;
    background: #F6FCFF;
	background-image: url(img/features-section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:fixed;
    top:80px;
    left:40%;
    width:100%;
	max-width: 420px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.5);
}       

.exitblock .modaltext h3{
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
.closeblock {
    cursor:pointer;
    position: fixed;
    line-height:60px;
    font-size:82px;
    transform: rotate(45deg);
    text-align:center;
    top:20px;
    right:30px;
    color: #ffffff;    
}
.closeblock:hover {
    opacity: 0.8;
}
</style>

<script>
	$(document).mouseleave(function(e){
    if (e.clientY < 10) {
		
		$(".exitblock").addClass("active");
		
    }    
});
$(document).click(function(e) {
    if (($(".exitblock").is(':visible')) && (!$(e.target).closest(".exitblock .modaltext").length)) {
        $(".exitblock").remove();
    }
});


</script>

<style>
	.iti {
		width: 100%;
		background: #ffffff;
		height: 38px;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
</style>


<script src="js/sripts.js"></script>

<!-- <script>
	$(function () {
		$('.js-pwd-tooltip-icon').tooltip({template: '<div class="tooltip" role="tooltip"><div class="tooltip-inner"></div></div>'});
		let today = new Date();
		let dd = today.getDate();
		let mm = today.getMonth() + 1; //January is 0!
		let yyyy = today.getFullYear();
		let tomorrowsDate = dd + "/" + mm + '/' + yyyy;

		$('.tomorrow-date').text(tomorrowsDate);
		
		var totalTimeInSeconds = 5 * 60 + 31;
		function updateTimer() {
			setTimeout(function () {
				var minutes = Math.floor(totalTimeInSeconds / 60),
					seconds = totalTimeInSeconds % 60;
				if (minutes < 10) {
					minutes = "0" + minutes;
				}
				if (seconds < 10) {
					seconds = "0" + seconds;
				}
				totalTimeInSeconds--;
				$('.countdown-span').text(minutes + ':' + seconds);
				if (totalTimeInSeconds >= 0) {
					updateTimer();
				}
			}, 1000);
		}

		updateTimer();
	});

	$('.scroll-top-btn').on("click", function (e) {
		e.preventDefault();
		$('html, body').animate({
			scrollTop: $(".formHeader").offset().top - 100
		}, 1000);
	});

	var countryColors = {
		"AT": ['#ed2939', '#ed2939'],
		"AU": ['#00008b', '#ff0000'],
		"CH": ['#ff0000', '#ff0000'],
		"DE": ['#000000', '#dd0000'],
		"DK": ['#c60c30', '#c60c30'],
		"GB": ['#ff0000', '#00008b'],
		"IE": ['#169b62', '#ff883e'],
		"IT": ['#009246', '#ce2b37'],
		"NL": ['#ae1c28', '#21468b'],
		"NO": ['#ef2b2d', '#002868'],
		"NZ": ['#00247d', '#cc142b'],
		"SE": ['#006aa7', '#fecc00'],
		"ZA": ['#FFB612', '#007A4D'],
	};

	function rotateNotifications(peopleArray) {
		var index = Math.floor(Math.random() * peopleArray.length),
			name = peopleArray[index].name + ' ' + peopleArray[index].surname.charAt(0) + '.',
			image = peopleArray[index].photo,
			amount = Math.floor(50 + Math.random() * 200),
			delay = 3000 + Math.random() * 6000,
			wrapper = $('#notifications');
		wrapper.find('[data-name]').text(name);
		wrapper.find('[data-image]').addClass('shake');
		setTimeout(function () {
			wrapper.find('[data-image]').removeClass('shake');
		}, 1000);
		wrapper.find('[data-image]').attr('src', image);
		wrapper.find('[data-amount]').text(amount);
		wrapper.find('[data-amount]').addClass('shake');
		setTimeout(function () {
			wrapper.find('[data-amount]').removeClass('shake');
		}, 1000);
		wrapper.find('[data-visitor-currency-symbol]').addClass('shake');
		setTimeout(function () {
			wrapper.find('[data-visitor-currency-symbol]').removeClass('shake');
		}, 1000);
		setTimeout(function () {
			rotateNotifications(peopleArray);
		}, delay);
	}

	function generateLiveResultsTableContent(peopleArray, currencySymbol) {
		var currenciesArray = ["LTC/EOS", "ETH/LTC", "BTC/ETH", "EOS/ETH"],
			index = Math.floor(Math.random() * peopleArray.length),
			name = peopleArray[index].name + ' ' + peopleArray[index].surname.charAt(0) + '.',
			amount = Math.floor(50 + Math.random() * 200),
			randomCurrencyIndex = Math.floor(Math.random() * 3) + 1,
			randomCurrency = currenciesArray[randomCurrencyIndex];

		var today = new Date(),
			dd = today.getDate(),
			mm = today.getMonth() + 1,
			yyyy = today.getFullYear();
		if (mm < 10) {
			mm = '0' + mm;
		}
		if (dd < 10) {
			dd = '0' + dd;
		}
		var todaysDate = dd + '/' + mm + '/' + yyyy;

		var allTrs = $('.tbody').children();
		var lastTr = $(allTrs[allTrs.length - 1]);
		var preLastTr = $(allTrs[allTrs.length - 2]);
		var td1 = '<td class="bold">' + name + " just won trade...</td>";
		var td2 = '<td class="bold">' + currencySymbol + amount + "</td>";
		var td3 = '<td class="trade-time-td padding-left-td">' + todaysDate + "</td>";
		var td4 = '<td>' + randomCurrency + '</td>';
		var td5 = '<td><img src="img/tick.png" alt="tick"></td>';
		var newTr = $('<tr/>');
		newTr.append(td1);
		newTr.append(td2);
		newTr.append(td3);
		newTr.append(td4);
		newTr.append(td5);
		$('.tbody').prepend(newTr);
		lastTr.remove();
		preLastTr.children('td').addClass('last-td');
	}
	//TODO Rename the functions
	function fillLiveResultsTable(peopleArray, currencySymbol) {
		var delay = 3000 + Math.random() * 6000;
		//TODO Rename the functions
		generateLiveResultsTableContent(peopleArray, currencySymbol);

		setTimeout(function () {
			fillLiveResultsTable(peopleArray, currencySymbol);
		}, delay);
	}

	document.addEventListener("visitorLocated", function (e) {
		var countryIso = e.detail.countryIsoCode.toLowerCase(),
			country = e.detail.country;

		$.ajax({
			method: 'head',
			url: 'flags/special/' + countryIso + '.png',
			success: function () {
				$('.flag')
					.css("height", "auto")
					.css("border", "none")
					.attr("src", 'flags/special/' + countryIso + '.png');
			},
			error: function () {
				$('.flag')
					.css("width", "80px")
					.css("height", "auto")
					.css("border", "none")
					.attr("src", 'flags/4x3/' + countryIso + '.svg');
			}
		});


		$('.country-name-custom').each(function () {
			var obj = $(this);
			var countryIsoUpper = countryIso.toUpperCase();
			if (countryColors.hasOwnProperty(countryIsoUpper)) {
				var words = country.split(/ (.+)/);
				if (words.length < 2) {
					words[0] = country.substring(0, country.length / 2);
					words[1] = country.substring(country.length / 2);
				} else {
					words[0] += ' ';
				}
				$('<span/>').css('color', countryColors[countryIsoUpper][0]).text(words[0].toUpperCase()).appendTo(obj);
				$('<span/>').css('color', countryColors[countryIsoUpper][1]).text(words[1].toUpperCase()).appendTo(obj);
			} else {
				obj.text(country);
			}
			$('.flag-wrapper').removeClass('hidden');
		});

		var currencySymbol = "$";
		switch (e.detail.countryIsoCode) {
			case"GB":
				currencySymbol = "£";
				break;
			case"AT":
			case"DE":
			case"CH":
			case"NL":
			case"FR":
			case"ES":
			case"IT":
			case"SE":
			case"DK":
			case"NO":
			case"FI":
				currencySymbol = "€";
				break;
			case"ZA":
				currencySymbol = "R";
				break;
			default:
				currencySymbol = "$";
		}
		$("[data-visitor-currency-symbol]").text(currencySymbol);

		var url = "/uinames/api/?amount=50&ext",
			region = ['Great Britain', 'United Kingdom'].indexOf(country) > -1 ? 'England' : country;

		function initSocialProof (response) {
			$('#notifications').removeClass('hidden');
			rotateNotifications(response);
			$('.live-results-table tbody tr').each(function (e) {
				generateLiveResultsTableContent(response, currencySymbol);
			});
			fillLiveResultsTable(response, currencySymbol);
		}

		$.ajax({
			type: "get",
			url: url + '&region=' + region,
			success: function (response) {
				initSocialProof(response);
			},
			error: function (response) {
				region = 'England';
				$.ajax({
					type: "get",
					url: url + '&region=' + region,
					success: function (response) {
						initSocialProof(response);
					},
				});
			},
		});
	});
</script> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	var list;

	$.getJSON('https://api.ipdata.co/?api-key=test', function (data) {
							$('.countryflag').html('<img src="'+  data.flag +'">');
				$('.country-name-custom').text(data.country_name);
			});
</script>
<script>
	$.get("https://ipinfo.io", function (response) { 
	
	
		let country = 'ru';
			
		
			
				country = (response.country).toLowerCase();


			// console.log(country)

				
			
			$(".telephone").intlTelInput({
				// options here
				allowDropdown:true,
				autoPlaceholder:"polite",
				initialCountry: country
			});


			


}, "jsonp");





</script>

<script src="app/jquery-1.11.0.min.js"></script>
<script src="app/jquery-ui-1.10.4.custom.min.js"></script>
<!-- Use as a Vanilla JS plugin -->

<script src="app/intlTelInput.min.js"></script>

<!-- Use as a jQuery plugin -->

<!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script> -->

<script src="app/intlTelInput-jquery.min.js"></script>

<script src="app/cks/jquery.cookieBar.min.js"></script>

<script>
	$(document).ready(function(){
		$.cookieBar({
                style: 'bottom',
                infoLink: "https://bitcoinevotech.com/cookie-policy"
            });
	});
</script>
</body>
</html>




